name: Daily Market Analysis Bot

on:
  workflow_dispatch:
  schedule:
    - cron: '0 14 * * 1-5' # ساعت 17:30 تهران، دوشنبه تا جمعه میلادی

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    # بخش مربوط به فونت به طور کامل حذف شد.

    - name: Run the market analysis script
      env:
        TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
        TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
      run: python market_analyzer.py # نام فایل پایتون شما
